<ion-content [fullscreen]="true" class="cute-theme modern-content">
  <div class="search-results-layout">
    <div class="search-left">
      <div class="recent-section">
        <h3 class="recent-title">Tìm kiếm gần đây</h3>
        <ion-list >
          <ion-item *ngFor="let term of recentSearches" class="recent-result-card" (click)="onRecentSearch(term)">
            <ion-label>{{ term }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>

    <div class="search-right">
     <ion-searchbar
        [(ngModel)]="query"
        placeholder="Nhập điều bạn đang muốn tại đây... ✨"
        (keyup.enter)="search()"
        >
      </ion-searchbar>
      <div *ngIf="isLoading" class="spinner-wrapper ion-text-center">
        <ion-spinner name="bubbles" color="warning"></ion-spinner>
      </div>
      <div *ngIf="results.length > 0" class="results-section">
        <ion-list lines="">
          <ion-item *ngFor="let doc of results" class="result-card" lines="none" button detail="false" (click)="openUrl(doc.url)">
            <ion-label>
              <p class="result-source">📚 {{ doc.source }} • {{ doc.time }}</p>
              <h2 class="result-title">{{ doc.title }}</h2>
              <p class="result-snippet">{{ doc.snippet }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngIf="showNoResult" class="no-result">
        <ion-icon name="sparkles-outline" size="large" color="primary"></ion-icon>
        <p>Oops... không tìm thấy kết quả 🥲</p>
      </div>
    </div>
  </div>
</ion-content>
